body {
    margin: 0;
}

.header {
    display: flex;
    align-items: baseline;
    justify-content: space-between;
}

.links ul {
    display: flex;
    list-style: none;
    gap: 16px
}

.description {
    display: flex;
    align-items: center;
    padding: 100px 0;
    gap: 30px;
}

#random-info {
    text-align: center;
    margin: 40px 0;
}

#card-container {
    display: flex;
    justify-content: space-between;
}

.third-container {
    display: flex;
    flex-direction: column;
}

.fourth-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

footer {
    display: flex;
    justify-content: center;
    align-items: center;
}

.first-container {
    padding: 0 150px;
}

.first-container, 
footer {
    background-color: #1F2937;
}

a {
    text-decoration: none;
    color: #e5e7eb;
    font-size: 18px;
}

.description div { 
    flex-shrink: 1;
}

.description h2 {
    font-size: 48px;
    font-weight: 900;
    color: #f9faf8;
}

.description p {
    color: #e5e7eb;
    font-size: 18px;
}

.header p {
    font-size: 24px;
    color: #f9faf8;
}

#random-info {
    font-size: 36px;
    font-weight: 800;
    color: #1f2937;
}

.description button {
    background-color: #3882f6;
    padding: 8px 20px;
    color: #f9faf8;
    border-radius: 5px;
    border-style: none;
    font-weight: 800;
}

.description .image-1 {
    width: 450px;
    height: auto;
}

.second-container {
    padding: 0 200px;
}

.card img {
    width: 200px;
    height: 200px;
    border-radius: 14px;
    border: 3px;
    border-color: #3882f6;
    border-style: solid;
    
}
