.header {
    display: flex;
    align-items: baseline;
    justify-content: space-between;
}

.links ul {
    display: flex;
    list-style: none;
    gap: 16px
}

.description {
    display: flex;
    align-items: center;
    padding: 100px 0;
}

#random-info {
    text-align: center;
}

#card-container {
    display: flex;
    justify-content: space-between;
}

.third-container {
    display: flex;
    flex-direction: column;
}

.fourth-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

footer {
    display: flex;
    justify-content: center;
    align-items: center;
}

.first-container {
    padding: 0 150px;
}
.first-container, 
footer {
    background-color: #1F2937;
}

.logo {
    flex-shrink: 0;
}

a {
    text-decoration: none;
    color: #e5e7eb;
    font-size: 18px;
}

.description div { 
    flex-shrink: 1;
}

.description h2 {
    font-size: 48px;
    font-weight: 900;
    color: #f9faf8;
}
